/* root variables */
:root{
  --white : #fff;
  --black : #000;
  --gray : rgb(44, 44, 44);
  --light-gray : rgb(68,68,68);
  --blue : rgb(12, 140, 233);
  --blue-gray : rgb(57, 67, 96);
  --light-blue : rgb(124, 196, 248);
  --green : rgb(25, 143, 81); 
}
/* reset styles */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
/* utilities */
.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
/* project fonts */
@font-face {
  font-family: "Montserrat-Black";
  src: url(../../assets/font/Montserrat-Black.ttf);
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(../../assets/font/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url(../../assets/font/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url(../../assets/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Montserrat-MediumItalic";
  src: url(../../assets/font/Montserrat-MediumItalic.ttf);
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url(../../assets/font/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../../assets/font/Montserrat-SemiBold.ttf);
}

@media screen and (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
@media screen and (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
@media screen and (max-width: 475px) {
  .container {
    max-width: 100%;
  }
}
